{% extends 'principal/base.html' %}

{% block content %}
    <h1>Producto: Vista en Detalle</h1>
    <ul>
        <li>Categoria: {{object.categoria}}</li>
        <li>Nombre: {{object.nombre}}</li>
        <li>Descripcion: 
            {% if object.descripcion %} 
                {{object.descripcion}}
            {% else %}
                -
            {% endif %}
        </li>
        <li>Nombre: {{object.precio}}</li>
        <li>Stock: {{object.stock}}</li>
    </ul>
    <a href="{% url 'producto:producto_list' %}"><button>Volver</button></a>
{% endblock content %}