<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    button.boton-volver {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 4px 8px;
      font-size: 13px;
      background-color: #3498db;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      line-height: 1;
      max-width: max-content;
      transition: background-color 0.3s ease;
    }
</style>
<body>
    {% for nota in notas %}
        {% if nota > 6 %}
            <p style="color: green;"> Aprobado: {{nota}} </p>
        {% else %}
            <p style="color: red;">Desaprobado: {{nota}}</p>
        {% endif %}
    {% endfor %}

    <button class="boton-volver" onclick="location.href='/'">Volver</button>
</body>
</html>