   {% extends 'principal/base.html' %}
   
   {% block content %}
   <h1>Aprendiendo Python</h1>
    <ul>
        <li>Python es un lenguaje de alto nivel de programación interpretado cuya filosofía</li>
        <li>hace hincapié en la legibilidad de su código. </li>
        <li>Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, </li>
        <li>programación imperativa y, en menor medida, programación funcional. </li>
        <li>Es un lenguaje interpretado, dinámico, multiplataforma.</li>
    </ul>
    {% endblock content %}